PORT=4005
MONGO_URI=mongodb://<username>:<password>@host1.mongodb.net:27017,host2.mongodb.net:27017,host3.mongodb.net:27017/NotesApp?ssl=true&replicaSet=<replica-set>&authSource=admin&retryWrites=true&w=majority
CLIENT_URL=http://localhost:5173
MONGO_DNS_SERVERS=8.8.8.8,1.1.1.1
